---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Merriweather', georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$base-background-color: #F0E8FA;
$base-border-color: rgba(0, 0, 0 ,.1);

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       rgba(0, 0, 0 ,.5);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        900px;


$black:            rgba(0, 0, 0, .9);
$light-black:      rgba(0, 0, 0, .7);
$grey:             rgba(0, 0, 0, 0.35);

$white:            rgba(255, 255, 255, .9);
$light-white:      rgba(255, 255, 255, .7);
$lightest-white:   rgba(255, 255, 255, 0.35);


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


body {
  line-height: 1.5em;
  color: $light-black;
  letter-spacing: -.003em;
}

.header-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  overflow: hidden;
  text-align: center;
  z-index: -1;
  p {
    margin: 0;
  }
  .inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

em {
  font-size: smaller;
}


a,
a:visited {
  color: $black;
  border: none;
  text-decoration: underline;
}

a:visited {
  opacity: 0.65;
}

a:hover {
  text-decoration: none;
  color: $light-black;
}

a.post-link,
a.post-link:visited {
  font-size: 1.75em;
  line-height: 1.2em;
  text-decoration: none;
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
  margin: 0.5em 0 1em;
  color: $black;
}

.post-content h3 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 1.5em;
  color: $black;
}

p {
  margin: 1.5em 0 1.5em;
}

ul li {
  line-height: 1.5em;
  margin: 1em 0 1em;
}

pre,
code {
  margin-bottom: 30px;
  background-color: #f5f2f0;
  font-size: .9em;
  line-height: 1.4em;
  font-family: Menlo,Monaco,"Courier New",monospace;
  border: none;
}

.post-header {
  margin: 5em 0 1em;
}

.post-title {
  font-size: 3.75em;
  line-height: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: inline;
}

.homepage {
  .site-header {
    margin-bottom: 6em;
  }
}

.post-meta {
  font-size: 21px;
  font-style: italic;
  margin: 4em 0 2em;
}

.post-list {
  .post-meta {
    margin: 0;
  }
}

.site-header {
  border: none;
  min-height: auto;
  padding: 2em 0 2em;

  .menu {
    margin: 5px 0 0;
    float: right;
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 0 0 0.5em;
    }
  }

  .site-lead {
    font-family: "Merriweather", serif;
    font-size: 21px;
    color: $black;
    text-decoration: none;
    position: relative;
    top: 5px;
    letter-spacing: -1px;
  }
}

.colorbg {
  background-color: #7802f7;
  background-color: #333;
  color: $light-white;
  .site-header .site-lead {
    color: $white;
  }
  a, a:visited {
    color: $light-white;
  }
  h1 {
    color: $white;
  }
  h2 a {
    color: $white;
    &:hover {
      color: $light-white;
    }
  }
  footer ul li {
    color: $light-white;
  }
  .post-meta {
    color: $lightest-white;
  }
  .post-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.about-page {
  .photo {
    max-width: 300px;
    float: right;
    img {
      border-radius: 200px;
    }
  }

  footer {
    display: none;
  }
}


// active menu links
.homepage .menu a.home,
.about .menu a.about {
  color: $light-black;
}

.site-header,
.page-content {
  margin: 0 auto;
  max-width: 60%;
}

.page-content {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.6em;

  h1 {
    margin: 1.5em 0 1em;
  }
}

.post-list {
  li {
    border-bottom: 1px solid $base-border-color;
    position: relative;
    margin-bottom: 20px;
    padding: 2em 0 2em;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}

footer {
  border-top: 1px solid $base-border-color;
  padding: 1em 0 0;
  margin: 3em 0 4em;
  ul {
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      font-size: smaller;
      color: $light-black;
      margin-right: 10px;
    }
  }
}

@include media-query(1450px) {
  .site-header,
  .page-content {
    margin: 0 auto;
    max-width: 60%;
  }
  .post-title {
    font-size: 3.5em;
  }
}

@include media-query(1000px) {
  .site-header,
  .page-content {
    margin: 0 auto;
    max-width: 70%;
  }
  .post-title {
    font-size: 3em;
  }
}


@include media-query(800px) {
  .post-title {
    font-size: 2.8em;
    background: transparent none no-repeat scroll 0 0 !important;
  }
  .site-header,
  .page-content {
    margin: 0 auto;
    max-width: 90%;
  }

  .post-header {
    padding: 0 !important;
    .post-meta {
      margin: 2em 0 2em !important;
    }
  }

  .header-hero {
    display: none;
  }

}


/*
.testing-javascript-with-jsdom-and-django-in-jenkins  {
  .post-title {
    color: #FFF;
  }
  .post-title {
    background-color: blue;
  }
  .header-hero {
    .inner {
    }
  }
}

.build-a-simple-app-with-react-and-redux {
  .post-header {
    padding: 5em 0 1em;
    .post-meta {
      margin: 8em 0 0;
    }
  }
  .post-title {
    color: #FFF;
  }
  .post-title {
    background-color: red;
  }
  .header-hero {
    height: 650px;
  }
} */

