---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Merriweather', georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$base-background-color: #F0E8FA;
$base-border-color: rgba(255, 255, 255,.1);

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       rgba(0, 0, 0 ,.5);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        900px;


$black:            rgba(0, 0, 0, .9);
$light-black:      rgba(0, 0, 0, .7);
$grey:             rgba(0, 0, 0, 0.35);

$white:            rgba(255, 255, 255, .9);
$light-white:      rgba(255, 255, 255, .7);
$lightest-white:   rgba(255, 255, 255, 0.35);


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


body {
  line-height: 1.5em;
  color: $light-black;
  letter-spacing: -.003em;
}

.header-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  overflow: hidden;
  text-align: center;
  z-index: -1;
  p {
    margin: 0;
  }
  .inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

em {
  font-size: smaller;
}


a,
a:visited {
  color: $black;
  border: none;
  text-decoration: underline;
}

a:visited {
  opacity: 0.65;
}

a:hover {
  text-decoration: none;
  color: $light-black;
}

a.post-link,
a.post-link:visited {
  font-size: 1.75em;
  line-height: 1.2em;
  text-decoration: none;
}

a.quick-link,
a.quick-link:visited {
  line-height: 1.5em;
  text-decoration: none;
  font-size: 28px;
  font-family: "lato", arial, sans-serif;
}

.quick-link {
  p {
    font-size: 16px;
  }
  h2 {
    margin: 0;
  }
}

h1,
h2 {
  margin: 0.5em 0 0.5em;
  color: $black;
  font-weight: 900;
}

.post-content h3 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 1.5em;
}

p {
  margin: 0 0 1em;
  font-weight: 100;
}

ul li {
  line-height: 1.5em;
  margin: 1em 0 1em;
  font-weight: 100;
}

pre,
code {
  margin-bottom: 30px;
  font-size: .9em;
  line-height: 1.5em;
  background-color: transparent;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  border: none;
  tab-size: 4;
  direction: ltr;
}

pre {
  border: 1px solid #E3EDF3;
}

img {
  border: 1px solid #E3EDF3;
  display: block;
  margin: 0 auto;
}


.post-header {
  margin: 5em 0 1em;
}

.post-title {
  border-bottom: 2px solid $base-border-color;
  font-size: 1.5em;
}

.slug .post-title {
  font-size: 3.75em;
  line-height: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: inline;
  border-bottom: none;
}

.post-meta {
  font-size: 21px;
  margin: 2em 0 1em;
}

.post-list {
  .post-meta {
    margin: 1em 0 0;
  }
}

.site-header {
  border: none;
  min-height: auto;
  padding: 2em 0 2em;

  .site-lead {
    font-size: 21px;
    color: $black;
    text-decoration: none;
    position: relative;
    top: 5px;
    font-weight: 900;
  }
}

.colorbg {
  background-color: #262630;
  color: $light-white;
  .site-header .site-lead {
    color: $white;
  }
  a, a:visited {
    color: $light-white;
  }
  h1 {
    color: $white;
  }
  h2 a {
    color: $white;
    &:hover {
      color: $light-white;
    }
  }
  footer ul li {
    color: $light-white;
  }
  .post-meta {
    color: $lightest-white;
  }
  .post-list li {
    border-bottom: 1px solid $base-border-color;
  }
}

.about-page {
  .photo {
    max-width: 300px;
    float: right;
    img {
      border-radius: 200px;
    }
  }
}

.site-header,
.page-content {
  margin: 0 auto;
  width: 50%;
  max-width: 920px;
}

.page-content {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.8em;

  h1 {
    margin: 1.5em 0 0.5em;
  }
}

.post-list {
  li {
    border-bottom: 1px solid $base-border-color;
    position: relative;
    margin-bottom: 20px;
    padding: 0.2em 0 1em;
    &:last-child {
    }
    &:first-child {
    }
  }
  .category,
  .post-link {
    display: inline;
  }
  .category {
    font-family: "lato", arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.35);
    color: #FFF;
    font-size: 12px;
    padding: 2px 5px 2px;
    position: relative;
    top: -2px;
    left: 5px;
    border-radius: 2px;
    text-transform: uppercase;
    &.news {
      background-color: #00c3ab;
    }
    &.tutorial {
      background-color: #e0cd02;
    }
    &.opinion {
      background-color: #9164ff;
    }
    &.code {
      background-color: #88B4FF;
    }
    &.tip {
      background-color: #CCC;
    }
    &.video {
      background-color: #15c61e;
    }
    &.ebook {
      background-color: #4286f4;
    }
    &.article {
      background-color: rgba(0,0,0,.4);
    }
    a,
    a:visited {
      color: #FFF;
      font-size: 11px;
    }
  }
}

footer {
  font-size: smaller;
  padding: 1em 0 0;
  margin: 3em 0 4em;
  float: left;
  width: 100%;
  font-size: 13px;
  ul {
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      font-size: smaller;
      color: $light-black;
      margin-right: 10px;
    }
  }
}

@include media-query(1450px) {
  .site-header,
  .page-content {
    margin: 0 auto;
    width: 60%;
  }
}

@include media-query(1000px) {
  .site-header,
  .page-content {
    margin: 0 auto;
    width: 70%;
  }
  .slug .post-title {
    font-size: 3em;
  }
}


@include media-query(800px) {
  .post-title {
    font-size: 2.8em;
    background: transparent none no-repeat scroll 0 0 !important;
  }
  .site-header,
  .page-content {
    margin: 0 auto;
    width: 90%;
  }

  .post-header {
    padding: 0 !important;
    .post-meta {
      margin: 2em 0 2em !important;
    }
  }

  .header-hero {
    display: none;
  }

}

.menu {
  float: right;
  margin: -12px 0 0;
  li {
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    a {
      font-family: "lato", arial, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 38px 5px 2px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .homepage .menu a.home,
  .about-page .menu a.about,
  .article-page .menu a.articles {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@include media-query(601px) {
  .menu {
    li {
      display: block;
    }

  }

}

.left {
  float: left;
}

.right {
  float: right;
}

.post-pagination {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1em;
  margin-top: 4em;
  ul {
    list-style-type: none;
    a {
      text-decoration: none;
    }
    li {
      width: 40%;
      &.left {
        padding-right: 10%;
      }
      &.right {
        padding-left: 9%;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.pagination {
  margin-top: 4em;

  span.previous,
  span.next,
  a.next,
  a.previous {
    padding: 5px 20px 2px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-radius: 2px;
  }

  span.previous,
  span.next {
    background-color: rgba(255,255,255,0.1);
    color: rgba(255, 255, 255, 0.3);
    display: none;
  }

  a:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  a.previous,
  span.previous {
    float: left;
  }

  a.next,
  span.next {
    float: right;
  }
}





// Typography
$base-font-size: 14px !default;
$bold-font-weight: bold !default;
$font-family: 'Merriweather', 'PT Serif', Georgia, 'Times New Roman', serif !default;
$line-height: 1.5 !default;
$heading-font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif !default;
$heading-font-weight: 900 !default;
$heading-line-height: 1.25 !default;
$monospace-font-family: 'Source Code Pro', Consolas, monospace !default;
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$h00: 4rem !default;
$h0: 3rem !default;
$h00-responsive: 8vw !default;
$h0-responsive: 6vw !default;
$h1-responsive: 4vw !default;
$h00-responsive-max: 7.68rem !default;
$h0-responsive-max: 5.76rem !default;
$h1-responsive-max: 3.84rem !default;
$abbr-border-bottom: 1px black dotted;

// Page width
$measure-width: 42rem !default;

// Viewport widths
$viewport-small: 32em;
$viewport-medium: 48em;
$viewport-large: 64em;

// Colors
$blue: #0076df !default;
$red: #cb4b16 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$orange: #ffcc22 !default;
$purple: #f92080 !default;
$dark-blue: #268bd2 !default;
$dark-green: #00ab37 !default;
$dark-green: #009f06 !default;
$light-pink: #ffdddd !default;
$light-green: #ddffdd !default;
$dark-gray: #93a1a1 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000,.0625) !default;
$darken-2: rgba(#000,.125) !default;
$darken-3: rgba(#000,.25) !default;
$darken-4: rgba(#000,.5) !default;

// Links
$link-color: $blue;
$link-hover-color: darken($blue, 40%);

// Breakpoints
$breakpoint-md: '(min-width: 52em)';
$breakpoint-xl: '(min-width: 96em)';

// Whitespace
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

// Buttons
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$button-font-family: $heading-font-family;

// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

// Borders
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Forms
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: .5rem;
$form-field-padding-x: .5rem;

// Code
$pre-border-radius: 0;
$pre-background-color: #fafafa;
$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;

// Footer
$footer-border-top: thin solid #f3f3f3;
$footer-padding: $space-3;
$footer-color: #7a7a7a;
$footer-bg-color: #fafafa;
$footer-font-weight: 300;
$footer-font-size: .75rem;

.highlight {
  background-color: #15151c;
}

pre,
pre code {
  background-color: transparent;
  border-radius: $pre-border-radius;
}

pre,
code {
  font-family: $monospace-font-family;
}

code {
  color: #7a7a7a;
}

pre {
  padding: 1.125em;
  line-height: 1.11;
  overflow-x: scroll;
  margin-bottom: 0.88em;
  border: none;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}

pre {
    counter-reset: line-numbering;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

pre a {
    background-image: none;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: $light-gray;
  margin-right: 16px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}


.highlight {
  -webkit-text-size-adjust: none;
}

.highlight .c,
.highlight .cs,
.highlight .cm,
.highlight .cp,
.highlight .c1 {
  color: $hljs-comment;
  font-style: italic;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .kt,
.highlight .kp {
  color: $hljs-keyword;
}

.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nf,
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .sr {
  color: $hljs-name;
}

.highlight .sr {
  color: #93a1a1 !important;
}

.highlight .mi,
.highlight .il {
  color: $hljs-number;
}

.highlight .err {
  background-color: transparent;
  color: #268bd2 !important;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .s3,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .ss,
.highlight .s1 {
  color: $hljs-string;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: $hljs-title;
  font-weight: bold;
}

.highlight .k {
  font-weight: normal;
}

.highlight .nc,
.highlight .no {
  color: $hljs-type;
}

.highlight .o {
  color: $hljs-tag;
  font-weight: normal;
}

.highlight .nb {
  color: $hljs-attribute;
}

.highlight .sr {
  color: $hljs-regexp;
}

.highlight .ss {
  color: $hljs-symbol;
}

.hljs-built_in {
  color: $hljs-built-in;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: $hljs-preprocessor;
  font-weight: bold;
}

.hljs-deletion {
  background: $hljs-deletion;
}

.hljs-addition {
  background: $hljs-addition;
}

.diff .hljs-change {
  background: $hljs-change;
}

.hljs-chunk {
  color: $hljs-chunk;
}


