---
layout: page
title: Code
permalink: /code/
---

<ul class="post-list">
  {% for post in site.categories["code"] %}
    <li class="quick-link">
      <p class="post-meta">
        {{ post.date | date: "%b %-d, %Y" }}
        {% if post.category %}
          <span class="category {{ post.category }}">
            {{ post.category }}
          </span>
        {% endif %}
      </p>

      <h2>
        <a class="quick-link" href="{{ post.link }}">{{ post.title | escape }} &#8594;</a>
      </h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
