---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li {% if post.category != "article" %}class="quick-link"{% endif %}>
        <p class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.category %}
            <span class="category {{ post.category }}">
              <a href="/{{post.category}}">{{ post.category }}</a>
            </span>
          {% endif %}
        </p>
         <h2>
          {% if post.category == "article" %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          {% else %}
            <a class="quick-link" href="{{ post.link }}">{{ post.title | escape }} &#8594;</a>
          {% endif %}
        </h2>
        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&#8249; Newer</a>
  {% else %}
    <span class="previous">&#8249; Newer</span>
  {% endif %}
  <!--
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  -->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older &#8250;</a>
  {% else %}
    <span class="next ">Older &#8250;</span>
  {% endif %}
</div>

</div>
