
.post-pagination {
  border-top: 1px solid $light-black;
  padding-top: 1em;
  margin-top: 4em;
  ul {
    list-style-type: none;
    a {
      text-decoration: none;
    }
    li {
      width: 40%;
      list-style-type: none;
      &.left {
        padding-right: 10%;
      }
      &.right {
        padding-left: 9%;
        border-left: 1px solid $light-black;
      }
    }
  }
}

.pagination {
  margin-top: 4em;

  span.previous,
  span.next,
  a.next,
  a.previous {
    padding: 5px 20px 2px;
    border: 1px solid $light-black;
    color: $light-black;
    text-decoration: none;
    border-radius: 2px;
  }

  span.previous,
  span.next {
    background-color: $light-black;
    color: $light-black;
    display: none;
  }

  a:hover {
    border: 1px solid $light-black;
  }

  a.previous,
  span.previous {
    float: left;
  }

  a.next,
  span.next {
    float: right;
  }
}