

em {
  font-size: smaller;
}

a,
a:visited,
a:hover {
  color: $light-white;
  border: none;
  text-decoration: underline;
}

a:hover,
a:visited {
  color: white;
}

a:visited {
  opacity: 0.65;
}

a:hover {
  text-decoration: none;
}

a.post-link,
a.post-link:visited {
  font-size: 1.75em;
  line-height: 1.2em;
  text-decoration: none;
}

a.quick-link,
a.quick-link:visited {
  line-height: 1.5em;
  text-decoration: none;
  font-size: 28px;
  font-weight: normal;
}

.menu li a,
.category {
  font-family: 'Merriweather Sans', sans-serif;
}

.quick-link {
  p {
    font-size: 16px;
  }
  h2 {
    margin: 0;
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0 0.5em;
  color: $white;
  font-weight: 900;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 a {
  color: $white;
  &:hover {
    color: $light-white;
  }
}

.post-content {
  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 1.5em;
  }
}

p {
  margin: 0 0 1em;
  font-weight: 100;
}

ul li {
  line-height: 1.5em;
  margin: 1em 0 1em;
  font-weight: 100;
}

.post-header {
  margin: 5em 0 1em;
}

.post-title {
  border-bottom: 2px solid $base-border-color;
  font-size: 1.5em;
  letter-spacing: -3px;
  font-weight: normal;
}

.slug .post-title {
  font-size: 3.75em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: inline;
  border-bottom: none;
  font-weight: bold;
}

.post-meta {
  font-size: 21px;
  margin: 2em 0 1em;
  font-family: 'Merriweather Sans', sans-serif;
}

.post-list {
  .post-meta {
    margin: 1em 0 0;
  }
}

.site-header .site-lead {
  color: $white;
  font-size: 21px;
  text-decoration: none;
  position: relative;
  top: 5px;
}

footer ul li {
  color: $light-white;
}

.post-meta {
  color: $lightest-white;
}

.post-list li {
  border-bottom: 1px solid $base-border-color;
}

.slug {
  background-color: white;
  color: $light-black;

  .post-meta {
    color: $grey;
  }

  .post-pagination {
    border-top: 1px solid $base-border-light-grey;
    font-family: 'Merriweather Sans', sans-serif;
    ul li.right {
      border-left: 1px solid $base-border-light-grey;
    }
  }

  footer ul li {
    color: $grey;
  }

  h1,
  h2, 
  h3,
  h4,
  h5 {
    color: $black;
  }

  a,
  a:visited,
  a:hover {
    color: $light-black;
  }

  a:hover,
  a:visited {
    color: $black;
  }
}

