

em {
  font-size: smaller;
}

h1,
h2, 
h3,
h4,
h5 {
  color: $black;
}

a,
a:visited,
a:hover {
  color: #0052cc;
  text-decoration: none;
}

a:hover {
  color: #0065ff;
}

a:hover {
  text-decoration: none;
}

a:visited {
  opacity: 0.65;
}

a.post-link,
a.post-link:visited {
  font-size: 1.75em;
  line-height: 1.2em;
  text-decoration: none;
  color: $black;
  letter-spacing: -1px;
}

.menu li a {
  font-family: 'Merriweather Sans', sans-serif;
  color: $light-black;
  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0 0.5em;
  font-weight: 900;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 a {
  color: $light-black;
  &:hover {
    color: $black;
  }
}

.post-content {
  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 1em;
  }
}

p {
  margin: 0 0 1em;
}

ul li {
  margin: 0;
}

.post-header {
  margin: 5em 0 1em;
}

.post-title {
  border-bottom: 2px solid $base-border-color;
  font-size: 1.5em;
  font-weight: normal;
}

.slug .post-title {
  font-size: 3.75em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  text-decoration: none;
  display: inline;
  border-bottom: none;
  font-weight: bold;
  letter-spacing: -3px;
}

.post-meta {
  font-size: 21px;
  margin: 2em 0 1em;
  font-family: 'Merriweather Sans', sans-serif;
  color: $grey;
}

.post-list {
  .post-meta {
    margin: 1em 0 0;
  }
}

.site-header .site-lead {
  font-size: 21px;
  text-decoration: none;
  position: relative;
  top: 5px;
  color: black;
}

.post-list li {
  border-bottom: 1px solid $base-border-color;
}

.page-content {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.8em;

  h1 {
    margin: 1em 0 0.5em;
  }
}

.slug {
  .post-pagination {
    border-top: 1px solid $base-border-light-grey;
    ul li.right {
      border-left: 1px solid $base-border-light-grey;
    }
  }
}

footer ul li {
  color: $grey;
  a,
  a:visited {
    color: $light-black;
    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}

