// Our variables
$base-font-family: 'Merriweather', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$base-background-color: white;
$base-border-color: rgba(0, 0, 0,.1);
$base-border-light-grey: rgba(0, 0, 0,.1);

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       rgba(0, 0, 0 ,.5);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        900px;


$black:            rgba(0, 0, 0, .8);
$light-black:      rgba(0, 0, 0, .7);
$grey:             rgba(0, 0, 0, 0.5);
$light-grey:       rgba(255, 255, 255, 0.75);

$white:            rgba(255, 255, 255, .9);
$light-white:      rgba(255, 255, 255, .7);
$lightest-white:   rgba(255, 255, 255, 0.35);
