<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,800|Merriweather:300,300i" rel="stylesheet">
  </head>
  <body class="animated fade-in-down {% if page.slug %}{{ page.slug }} slug {% else %} {% endif %} colorbg  {% if page.layout == 'default' %}homepage{% endif %} {% if page.url == '/about/' %}about-page{% endif %}{% if page.url == '/article/' %}article-page{% endif %}">

    <div class="content-wrapper">
      <header class="site">
        <div class="image-wrapper">
          <img src="/css/images/pc.jpg" class="me" />
        </div>
        <a href="/" class="site-lead">Pasha Craydon</a>
        <ul class="menu">
          <li>
            <a href="/" class="home">Home</a>
          </li>
          <li>
            <a href="/article" class="articles">Articles</a>
          </li>
          <li>
            <a href="/about" class="about">About</a>
          </li>
        </ul>

        <h2>Recent Posts</h2>
        <ul class="recent-posts">
          {% for post in site.posts %}
            <li>
              {% if post.category == "article" %}
                 <a href="{{ post.url | prepend: site.baseurl }}">
               {{ post.title | escape }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </header>
      <div class="page-content">
        {{ content }}

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>